.list-items {
  border: 1px solid #94a3b8;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  font-family: Roboto;
  color: #f8fafc;
  font-size: 16px;
  margin-left: 18px;
}

.para {
  font-family: Roboto;
  color: #f8fafc;
  margin-right: 30px;
}

.button {
  background-color: #3b82f6;
  padding: 8px;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: Roboto;
  color: #f8fafc;
  border-radius: 4px;
  margin-right: 18px;
  padding-left: 15px;
  padding-right: 15px;
}
